<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kuzma Leshakov" />
   <!--<link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />-->
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!--&lt;!&ndash; Typekit &ndash;&gt;-->
   <!--<script type="text/javascript" src="https://use.typekit.com/jpd0pfm.js"></script>-->
   <!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
</head>
<body>

<!--&lt;!&ndash; ClickTale Top part &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var WRInitTime=(new Date()).getTime();-->
<!--</script>-->
<!--&lt;!&ndash; ClickTale end of Top part &ndash;&gt;-->

<div class="site">
  <div class="title">
    <a href="/">Kuzma Leshakov</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Kuzma Leshakov
        <br />
        Founder of
          <a href="http://courseteach.me/">CourseTeachMe</a>
        <br />
        k.leshakoff@gmail.com
      </p>
    </div>
    <!--<div class="contact">-->
      <!--<p>-->
        <!--<a href="http://github.com/mojombo/">github.com/mojombo</a><br />-->
        <!--<a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br />-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="rss">-->
      <!--<a href="http://feeds.feedburner.com/tom-preston-werner">-->
        <!--<img src="../images/rss.png" alt="Subscribe to RSS Feed" />-->
      <!--</a>-->
    <!--</div>-->
  </div>
</div>

<!--&lt;!&ndash; ClickTale Bottom part &ndash;&gt;-->
<!--<div id="ClickTaleDiv" style="display: none;"></div>-->
<!--<script type="text/javascript">-->
<!--if(document.location.protocol!='https:')-->
  <!--document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");-->
<!--</script>-->
<!--&lt;!&ndash; ClickTale end of Bottom part &ndash;&gt;-->

<!--&lt;!&ndash; Google Analytics &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");-->
<!--document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--var pageTracker = _gat._getTracker("UA-6016902-1");-->
<!--pageTracker._trackPageview();-->
<!--</script>-->
<!--&lt;!&ndash; Google Analytics end &ndash;&gt;-->

</body>
</html>
